body {
    margin: 0;
}

* {
    box-sizing: border-box !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header {

    background-color: black;
    min-height: 100px;
    width: 100vw;
    border: 4px solid black;
}

ul {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: flex-end;
    padding-right: 50px;
    gap: 40px;
}
.menueColor {
    text-decoration: none;
}
.menueColor:hover {
    color: red;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted grey;
    border-radius: 1em;
    width: 80px;
}

.menueColor {
    color: grey;
}

#sect1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    gap: 10px;
    overflow-y: scroll;
    background-color: grey;
    border: 4px solid green;
}

footer {
    height: 30px;
    min-height: 30px;
    background-color: darkslateblue;
    border: 2px solid blue;
    margin-top: auto;
}

div {
    border: 4px solid white;
    height: 50px;
    width: 50px;
    flex-shrink: 0;
}