
body {
    margin: 0;
}

* {
    box-sizing: border-box !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    background-color: black;
    min-height: 100px;
    width: 100vw;

}

ul {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    gap: 10px;
    padding-right: 10px;
    border: 2px solid red;
    padding-inline-start: 10px;
}

.normal {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 1em;
    min-width: 80px;
    max-width: 80px;
}
.normal2 {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 1em;
    min-width: 80px;
    max-width: 80px;
}

.colorLink:hover {
    color: red;
}

.colorLink {
    color: grey;
    text-decoration: none;
}

#sect1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    gap: 5px;
    overflow-y: scroll;
    background-color: grey;
    border: 4px solid green;
}


footer {
    height: 30px;
    min-height: 30px;
    background-color: darkslateblue;
    border: 2px solid blue;
    margin-top: auto;
}

div {
    border: 4px solid white;
    height: 50px;
    width: 50px;
    flex-shrink: 0;
}

@media (max-width: 450px) {
    #sect1 {
        background-color: #7aa859;
    }

    ul {
        flex-wrap: wrap;
        
    }
}

@media (max-width: 314px) {
    #sect1 {
        background-color: red;
    }
    .normal {
        min-width: unset;
        max-width: unset;
    }
}
@media (max-width: 280px) {
    #sect1 {
        background-color: yellow;
    }
    .normal {
        /*min-width: unset;*/
        /*max-width: unset;*/
    }
    header {
        min-width: 280px;
        max-width: 280px;
    }
    
    ul {
        width: auto;
    }
}